{% extends "system/base.html" %}


{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h1 class="paper_title">{{ paper.title }}</h1>

<article class="paper_text markdown-body">
{{ paper.formatted_markdown|safe }}
</article>


<br/><br/><br/>

<div class="note_list">

	{% for note in paper.note_set.all %}
		<div class="note">
	    {{ note.formatted_markdown|safe }}
	    </div>
	{% endfor %}

	<form action="{% url 'system:new_note' paper.id %}" method="post" id="note_form">{% csrf_token %}
	{{ form }}
	<input type="submit" value="Note" />
	</form>

	<div class="markdown-body">
		{{ form.media }}	
	</div>
	

</div>
{% endblock %}